
Data/2020_OMNI/.ipynb_checkpoints/omni_min2020-checkpoint.asc
Data/2020_OMNI/omni_min2020.asc
Data/OMNI_format.txt
Data/Processed_Data/241106_Backup/Cluster/.ipynb_checkpoints/Not_loaded-checkpoint.txt
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2001.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2002.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2003.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2004.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2005.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2006.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2007.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2008.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2009.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2010.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2011.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2012.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2013.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2014.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2015.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2016.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2017.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2018.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2020.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2021.cdf
Data/Processed_Data/241106_Backup/Cluster/C1_FGM_SPIN_2023.cdf
Data/Processed_Data/241106_Backup/Cluster/Not_loaded.txt
Data/Processed_Data/241106_Backup/OMNI/OMNI_1981.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1982.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1983.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1984.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1985.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1986.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1987.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1988.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1989.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1990.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1991.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1992.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1993.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1994.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1995.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1996.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1997.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1998.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_1999.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2000.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2001.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2002.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2003.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2004.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2005.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2006.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2007.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2008.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2009.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2010.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2011.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2012.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2013.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2014.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2015.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2016.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2017.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2018.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2019.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2020.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2021.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2022.cdf
Data/Processed_Data/241106_Backup/OMNI/OMNI_2023.cdf
Data/Processed_Data/241107_Backup/Cluster/.ipynb_checkpoints/C1_CP_FGM_SPIN_not_added_files-checkpoint.txt
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2001.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2002.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2003.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2004.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2005.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2006.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2007.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2008.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2009.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2010.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2011.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2012.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2013.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2014.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2015.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2016.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2017.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2018.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2020.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2021.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_2023.cdf
Data/Processed_Data/241107_Backup/Cluster/C1_CP_FGM_SPIN_not_added_files.txt
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1981.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1982.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1983.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1984.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1985.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1986.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1987.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1988.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1989.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1990.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1991.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1992.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1993.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1994.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1995.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1996.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1997.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1998.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_1999.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2000.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2001.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2002.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2003.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2004.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2005.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2006.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2007.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2008.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2009.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2010.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2011.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2012.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2013.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2014.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2015.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2016.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2017.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2018.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2019.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2020.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2021.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2022.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_2023.cdf
Data/Processed_Data/241107_Backup/OMNI/omni_1min_yearly_not_added_files.txt
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2001.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2002.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2003.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2004.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2005.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2006.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2007.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2008.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2009.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2010.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2011.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2012.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2013.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2014.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2015.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2016.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2017.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2018.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2020.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2021.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2022.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_2023.cdf
Data/Processed_Data/241108_Backup/Cluster/C1_CP_FGM_SPIN_not_added_files.txt
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1981.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1982.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1983.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1984.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1985.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1986.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1987.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1988.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1989.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1990.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1991.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1992.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1993.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1994.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1995.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1996.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1997.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1998.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_1999.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2000.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2001.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2002.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2003.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2004.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2005.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2006.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2007.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2008.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2009.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2010.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2011.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2012.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2013.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2014.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2015.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2016.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2017.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2018.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2019.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2020.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2021.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2022.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_2023.cdf
Data/Processed_Data/241108_Backup/OMNI/omni_1min_yearly_not_added_files.txt
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2001.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2002.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2003.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2004.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2005.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2006.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2007.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2008.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2009.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2010.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2011.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2012.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2013.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2014.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2015.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2016.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2017.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2018.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2020.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2021.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2022.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_2023.cdf
Data/Processed_Data/Cluster/C1_CP_FGM_SPIN_not_added_files.txt
Data/Processed_Data/OMNI/omni_1min_yearly_1981.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1982.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1983.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1984.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1985.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1986.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1987.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1988.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1989.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1990.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1991.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1992.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1993.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1994.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1995.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1996.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1997.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1998.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_1999.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2000.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2001.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2002.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2003.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2004.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2005.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2006.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2007.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2008.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2009.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2010.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2011.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2012.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2013.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2014.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2015.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2016.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2017.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2018.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2019.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2020.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2021.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2022.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_2023.cdf
Data/Processed_Data/OMNI/omni_1min_yearly_not_added_files.txt
